<!DOCTYPE html>
<head>
  {% include 'partials/head-default.njk' %}
  {% include 'partials/meta-tags-default.njk' %}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body class="home">
  <main class="container">

    {% include 'navigation-components/main-nav.njk' %}
    <div class="contain-content-all">
      {{ content | safe }}
    </div>

    {% include 'partials/footer.njk' %}

  </main>
  {% include 'partials/global-js.njk' %}
  <script>
    if (window.netlifyIdentity) {
      window
        .netlifyIdentity
        .on("init", user => {
          if (!user) {
            window
              .netlifyIdentity
              .on("login", () => {
                document.location.href = "/admin/";
              });
          }
        });
    }
  </script>
</body>
</html>