<!DOCTYPE html>
<head>
  {% include 'partials/head-default.njk' %}
  {% include 'partials/meta-tags-default.njk' %}
</head>
<body class="dark">
  <main class="container">

    {% include 'navigation-components/main-nav.njk' %}
    <div class="contain-content-all">
      {{ content | safe }}
    </div>

    {% include 'partials/footer.njk' %}

  </main>
  {% include 'partials/global-js.njk' %}
</body>
</html>