/* Images */
figure {
    margin: 0;
    padding: 0;
}

figure img {
    max-width: 100%;
    display: block;
}

figure figcaption {
    color: var(--color-text-secondary);
}

svg {
    fill: var(--primary-bg);
}

.home .gallery figure {
    position: relative;
}

.home .gallery figure::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.home .gallery figure:nth-child(1)::before {
    background: 
}