
/* Quotes */
blockquote {
    display: block;
    font-size: var(--text-medium);
    line-height: var(--line-height);
    margin: 3rem auto; 
    position: relative;
    max-width: 90%;
    text-align: left;
  }
  
  section.content blockquote p {
    font-size: var(--text-large);
  }
  
  blockquote::before {
    content: "“";
    font-family: var(--title-font);
    line-height: 0.5;
    font-weight: var(--title-font-weight);
    font-size: 6rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
  }

cite {
    color: var(--color-text-secondary); 
    font-size: var(--text-medium);
    line-height: var(--line-height);
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

cite span {
    font-weight: 400;
}
 
cite img {
    width: 2.5rem;
    height: 2.5rem;
    display: inline;
    margin-right: 1rem;
    border-radius: 100%;
  }