.two-up div {
    display: flex;
    flex-wrap: inherit;
}

@media (max-width: 700px) {
    .two-up div {
        display: block;
        margin: 0 1rem;
    }
    .two-up div article {
        margin-bottom: var(--default-spacing);
    }
}

.two-up article {
    margin-right: 2rem;
    padding: 0;
}

.two-up article:last-child {
    margin-right: 0;
}