<footer class="{{options.footerStyle}}" id="main-footer">
  <div class="contain-content-all">
    {% include 'navigation-components/footer-nav.njk' %}
    <div class="content">
      <p class="copyright">&copy;
        {{meta.siteTitle}}
        2020</p>
    </div>
  </div>
</footer>