<footer class="contrast-bg {{options.footerStyle}}" id="main-footer">
  <div class="contain-content-all">
    <div class="content">
      <p class="copyright">&copy;
        {{config.siteTitle}}
        2020</p>
    </div>
    {% include 'navigation-components/footer-nav.njk' %}
  </div>
</footer>