<script src="/js/generic-core.js"></script>
{% if hasForm %}
    <script src="/js/handle-forms.js"></script>
{% endif %}
{% if id == 'projects' %}
    <script src="/js/filter.js"></script>
{% endif %}