<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" type="image/png" href="/favicon.png"/>
{% if meta.titleOrder == 'standard' %}
<title>{{title}} {{meta.separator}} {{meta.siteTitle}}</title>
{% else %}
<title>{{meta.siteTitle}} {{meta.separator}} {{title}}</title>
{% endif %}
<link rel="stylesheet" href="https://use.typekit.net/kpn1bec.css">
<link rel="stylesheet" href="/css/style.css"/>
<script async defer data-domain="aliblackwell.com" src="https://plausible.io/js/plausible.js"></script>