<link rel="icon" type="image/png" href="{{meta.favicon}}">

{% if metaDescription %}
<meta name="description" content="{{metaDescription}}"/>
{% endif %}
<meta property="og:title" content="{{meta.siteTitle}}">
<meta property="og:site_name" content="{{meta.siteTitle}}">
<meta property="og:url" content="{{seocials.siteUrl}}">
<meta property="og:description" content="{{seocials.siteSlogan}}"/>
<meta property="og:type" content="website">
<meta property="og:image" content="{{seocials.landscapeSocialImg}}"/>
<meta property="og:image:width" content="1024"/>
<meta property="og:image:height" content="512"/>
<meta property="og:image:alt" content="{{seocials.landscapeSocialImgAlt}}"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{meta.siteTitle}}"/>
<meta name="twitter:description" content="{{seocials.siteSlogan}}"/>
<meta name="twitter:url" content="{{seocials.siteUrl}}"/>
<meta name="twitter:image" content="{{seocials.squareSocialImg}}"/>
<meta name="twitter:image:alt" content="{{seocials.squareSocialImgAlt}}"/>