<nav class="main-nav group" aria-labelledby="site-logo">
  {% set navPages = collections.all | eleventyNavigation('Primary') %}
  <div class="navs">
    <div class="primary-nav-container">
      {% if options.menuStyle == 'burger' %}
        <div class="burger-menu">
          <input type="checkbox" role="button" aria-haspopup="true" id="toggle" class="vh">
          <label for="toggle" data-opens-menu="data-opens-menu">
            &#x2630; Menu
            <span class="vh expanded-text">expanded</span>
            <span class="vh collapsed-text">collapsed</span>
          </label>
          <div role="menu" data-menu-origin="left" class="{{options.navStyle}}">

          {% endif %}
          <ul>
            {%- for entry in navPages %}
              {%if entry.url == page.url%}
                {% set gotChild = 'got!' %}
              {% else %}
                {% set gotChild = 'not!' %}
              {%endif %}
              {% for nav in options.childNavs %}
                {% if nav.menuParent == entry.title%}
                  {% if nav.children.includes(page.url)%}
                     {% set gotChild = 'got!' %}

                  {% endif %}
                {% endif %}
              {% endfor %}
              <li{% if gotChild == 'got!' %} class="my-active-class" {% endif %}>
                <a href="{{ entry.url | url }}" role="menuitem">{{ entry.title }}</a>
              </li>
            {%- endfor %}
          </ul>
          {% if options.menuStyle == 'burger' %}
          </div>
        </div>
        <!-- / .burger-menu -->
      {% endif %}
    </div>
    <div class="secondary-nav-container">
      {% set navPages = collections.all | eleventyNavigation('Secondary') %}
      <ul>
        {%- for entry in navPages %}
          <li{% if entry.url == page.url %} class="my-active-class" {% endif %}>
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </div>
  </div>
</nav>