/* Links */

a {
  color: var(--color-links);
  display: inline-block;
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--color-links-hover);
  filter: brightness(var(--hover-brightness));
  text-decoration: underline;
}

a b, a em, a i, a strong, strong a, .button, button {
  font-family: var(--body-font);
  border-radius: var(--border-radius);
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  line-height: var(--line-height);
  margin: 0.5rem 0;
  padding: 0.5rem 1.5rem;
  background-color: var(--body-bg-accent);
  border: 2px solid var(--body-bg-accent);
  color: var(--body-bg-accent-color);
  text-decoration: none;
}

.big-button {
  padding: 1rem 2rem;
}

a:hover b, a:hover em, a:hover i, a:hover strong, strong a:hover, .button:hover, button:hover {
  text-decoration: none;
  color: var(--body-bg-accent-color-hover);
  cursor: pointer;
  filter: brightness(var(--hover-brightness));
}

.primary-bg a b, .primary-bg a em, .primary-bg a i, .primary-bg a strong, .primary-bg strong a, .primary-bg .button, .primary-bg button {
  background-color: var(--primary-bg-accent);
  border: 2px solid var(--primary-bg-accent);
  color: var(--primary-bg-accent-color);
}

.primary-bg a:hover b, .primary-bg a:hover em, .primary-bg a:hover i, .primary-bg a:hover strong, .primary-bg strong a:hover, .primary-bg .button:hover, .primary-bg button:hover {
  color: var(--primary-bg-accent-color-hover);
}

.primary-bg-tint a b, .primary-bg-tint a em, .primary-bg-tint a i, .primary-bg-tint a strong, .primary-bg-tint strong a, .primary-bg-tint .button, .primary-bg-tint button {
  background-color: var(--primary-bg-tint-accent);
  border: 2px solid var(--primary-bg-tint-accent);
  color: var(--primary-bg-tint-accent-color);
}

.primary-bg-tint a:hover b, .primary-bg-tint a:hover em, .primary-bg-tint a:hover i, .primary-bg-tint a:hover strong, .primary-bg-tint strong a:hover, .primary-bg-tint .button:hover, .primary-bg-tint button:hover {
  color: var(--primary-bg-tint-accent-color-hover);
}

.secondary-bg a b, .secondary-bg a em, .secondary-bg a i, .secondary-bg a strong, .secondary-bg strong a, .secondary-bg .button, .secondary-bg button {
  background-color: var(--secondary-bg-accent);
  border: 2px solid var(--secondary-bg-accent);
  color: var(--secondary-bg-accent-color);
}

.secondary-bg a:hover b, .secondary-bg a:hover em, .secondary-bg a:hover i, .secondary-bg a:hover strong, .secondary-bg strong a:hover, .secondary-bg .button:hover, .secondary-bg button:hover {
  color: var(--secondary-bg-accent-color-hover);
}

.secondary-bg-tint a b, .secondary-bg-tint a em, .secondary-bg-tint a i, .secondary-bg-tint a strong, .secondary-bg-tint strong a, .secondary-bg-tint .button, .secondary-bg-tint button {
  background-color: var(--secondary-bg-tint-accent);
  border: 2px solid var(--secondary-bg-tint-accent);
  color: var(--secondary-bg-tint-accent-color);
}

.secondary-bg-tint a:hover b, .secondary-bg-tint a:hover em, .secondary-bg-tint a:hover i, .secondary-bg-tint a:hover strong, .secondary-bg-tint strong a:hover, .secondary-bg-tint .button:hover, .secondary-bg-tint button:hover {
  color: var(--secondary-bg-tint-accent-color-hover);
}

.contrast-bg a b, .contrast-bg a em, .contrast-bg a i, .contrast-bg a strong, .contrast-bg strong a, .contrast-bg .button, .contrast-bg button {
  background-color: var(--contrast-bg-accent);
  border: 2px solid var(--contrast-bg-accent);
  color: var(--contrast-bg-accent-color);
}

.contrast-bg a:hover b, .contrast-bg a:hover em, .contrast-bg a:hover i, .contrast-bg a:hover strong, .contrast-bg strong a:hover, .contrast-bg .button:hover, .contrast-bg button:hover {
  color: var(--contrast-bg-accent-color-hover);
}


 
/* Outline button */
/* 
.button.outline-button {
  margin-bottom: var(--default-spacing);
  color: inherit;
  text-transform: none;
  font-weight: var(--bold-font-weight);
  font-family: var(--bold-font);
  font-size: var(--text-small);
  display: inline-block;
  background: transparent;
  border: 1px solid transparent;
} */