/* Nav */

header.nav-container nav {
    margin-bottom: 0rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: left;
}

.nav-container {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
}

.nav-container h1.logo-container {
    font-size: var(--text-medium);
    width: 100%;
    z-index: 1;
    position: absolute;
}

.logo-centre.nav-container h1.logo-container {
    text-align: center;
    right: 0;
}

.logo-left h1.logo-container {
    text-align: left;
    left: 0;
}

h1.logo-container img {
    width: 16rem;
}

@media (max-width: 600px) {
    h1.logo-container img {
        width: 9rem;
    }
    .nav-container h1.logo-container {
        top: 2rem;
    }
 
}

.main-nav ul, .main-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.main-nav li a, [data-opens-menu] {
    display: block;    
    text-decoration: none;
    padding: 1rem;
    line-height: 1;
    position: relative;
    z-index: 10;
    cursor: pointer;
    font-size: var(--text-small);
    font-family: var(--body-font);
    font-weight: var(--body-font-weight);
}

.logo-centre .primary-nav-container {
    width: 100%;
}

.logo-centre .secondary-nav-container {
    position: absolute;
    right: 0;
    top: 0;
}

.logo-left .navs {
    width: 100%;
    text-align: right;
    float: left;
}

[data-menu-component] {
    position: relative;
    display: inline-block;
}

.show-burger-always [role="menu"] {
    position: absolute;
    left: 0;
    display: none;
}

[data-opens-menu] {
    display: none;
}

.show-burger-always [data-opens-menu] {
    display: inline-block;
}

@media (max-width: 900px) {
    [data-opens-menu] {
        display: inline-block;
    }
    [role="menu"] {
        position: absolute;
        left: 0;
        display: none;
    }
}

[role="menu"] ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

[role="menu"] a {
    text-align: left;
}

:checked+label .expanded-text {
    display: inline;
}

:checked+label .collapsed-text {
    display: none;
}

[type="checkbox"]:not(:checked)+label .expanded-text {
    display: none;
}

[type="checkbox"]:not(:checked)+label .collapsed-text {
    display: inline;
}

:checked~[role="menu"] {
    display: block;
    padding: 6rem 0 3rem;
    width: 100%;
    top: 0rem;
    text-align: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--body-bg);
}

:checked~[role="menu"] ul {
    text-align: center;
}

:checked~[role="menu"] ul li {
    display: block;
    text-align: center;
}

:checked~[role="menu"] ul li a {
    text-align: center;
}

[data-menu-origin="right"] {
    left: auto;
    right: 0;
}

[role="menu"] a {
    display: block;
    min-width: 100%;
    white-space: nowrap;
}

/******
Child Nav
*****/

.child-nav {
    text-align: center;
}

.child-nav li a {
    text-decoration: none;
}

li.my-active-class a {
    text-decoration: underline;
    font-weight: var(--body-bold-weight);
}

/* Bottom nav option */
@media (max-width: 800px) {
    footer#main-footer {
        padding-bottom: 5rem;
    }

    .menu-bottom .secondary-nav-container ul {
        float: right;
    }

    .menu-bottom .primary-nav-container ul {
        position: fixed;
        z-index: 9999;
        width: 100vw;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--primary-bg);
        padding: 0.5rem 0 0.5rem 0;
        max-width: 100%;
        text-align: center;
    }
}