/* Outline button */
.button.outline-button {
  margin-bottom: var(--default-spacing);
  color: var(--body-default-color);
  text-transform: none;
  font-weight: var(--bold-font-weight);
  font-family: var(--bold-font);
  font-size: var(--text-small);
  display: inline-block;    
  background: transparent;
  border: 1px solid transparent;
}