body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--body-font);
    line-height: var(--line-height);
    margin: 0;
    overflow-x: hidden;
    padding: 0 0 1rem 0;
}

footer, main {
    padding: 2rem 1rem;
}

hr {
    background-color: var(--color-bg-secondary);
    border: none;
    height: 1px;
    margin: 4rem 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--justify-important);
    padding: var(--default-spacing) 0;
}

.contain-content-all {
    width: var(--widest-width);
    margin: 0 auto;
    position: relative;
}

/* Headers */

main header h1 {
    text-align: center;
}

article header, div header, main header {
    padding-top: 0;
}

header a b, header a em, header a i, header a strong {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header nav img {
    margin: 1rem 0;
}

section header {
    padding-top: 0;
    width: 100%;
}

/* Layout */

article aside {
    background: var(--color-secondary-accent);
    border-left: 4px solid var(--color-secondary);
    padding: 0.01rem 0.8rem;
}

section aside {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--width-card);
}

section aside:hover {
    box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

section aside img, section aside svg {
    max-width: 100%;
}

/* Footer */

footer .content {
    position: absolute;
    z-index: 3;
    padding-bottom: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer {
    position: relative;
    min-height: 4rem;
    color: var(--text-medium-light);
    background: var(--bg-dark-theme);
    text-align: right;
    z-index: 10;
}

.footer-content {
    position: relative;
}

footer p {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
}

footer img {
    display: block;
    margin-bottom: 0.5rem;
}

footer ul, footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul {
    text-align: right;
}

footer nav ul li {
    display: block;
    text-align: right;
}