footer {
    padding: 2rem 1rem;
}

hr {
    background-color: var(--secondary-bg);
    border: none;
    height: 1px;
    margin: 4rem 0;
}

section {
    padding: var(--default-spacing) 0;
}

section.no-flex {
    display: block;
    flex-wrap: unset;
}

.contain-content-all {
    width: var(--widest-width);
    margin: 0 auto;
    position: relative;
}

/* Headers */

main header h1 {
    text-align: center;
}

article header, div header, main header {
    padding-top: 0;
}

header a b, header a em, header a i, header a strong {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header nav img {
    margin: 1rem 0;
}

section header {
    padding-top: 0;
    width: 100%;
}

/* Footer */

footer .content {
    position: absolute;
    z-index: 3;
    padding-bottom: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer {
    position: relative;
    min-height: 4rem;
    text-align: right;
    z-index: 10;
}

.footer-content {
    position: relative;
}

footer p {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
}

footer img {
    display: block;
    margin-bottom: 0.5rem;
}

footer ul, footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul {
    text-align: right;
}

footer nav ul li {
    display: block;
    text-align: right;
}

 